<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lite6">
  <xacro:property name="mesh_suffix" value="stl"/>
  <xacro:property name="is_ros2" value="false"/>
  <xacro:property name="use_xacro_load_yaml" value="true"/>
  <xacro:property name="mesh_path" value="file://@XARM_DESCRIPTION_SHARE@/meshes"/>

  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/common/common.material.xacro"/>
  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/common/common.link.xacro"/>
  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/lite6/lite6.urdf.xacro"/>

  <xacro:common_material prefix=""/>

  <xacro:lite6_urdf
    prefix=""
    kinematics_params_filename="@XARM_DESCRIPTION_SHARE@/config/kinematics/default/lite6_default_kinematics.yaml"
  />
</robot>
