<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm7_mirror">
  <xacro:property name="mesh_suffix" value="stl"/>
  <xacro:property name="is_ros2" value="false"/>
  <xacro:property name="use_xacro_load_yaml" value="true"/>
  <xacro:property name="mesh_path" value="file://@XARM_DESCRIPTION_SHARE@/meshes"/>

  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/common/common.material.xacro"/>
  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/common/common.link.xacro"/>
  <xacro:include filename="@XARM_DESCRIPTION_SHARE@/urdf/xarm7_mirror/xarm7_mirror.urdf.xacro"/>

  <xacro:common_material prefix=""/>

  <xacro:xarm7_mirror_urdf
    prefix=""
    kinematics_params_filename="@XARM_DESCRIPTION_SHARE@/config/kinematics/default/xarm7_mirror_default_kinematics.yaml"
  />
</robot>
